In [3]:
1239 + 290302

291541

In [4]:
1239 + 290

1529

This is a markdown

ipynb = interactive python notebook

shortcut key
- shift + enter  = new box and code execute
- control + enter = no new box and code execution
- emoji = window and dot
- bullet = dash and space

Operators 
- arithmatic
- assignment
- comparision 
- logical
- membership
- bitwise âŒ

Oredr of precedence
- " * / // ** % + - "

In [5]:
10 + 3 * 5

25

In [6]:
10 - 5 * 3 / 2 ** 3

8.125

In [1]:
x = 12
y = 33
z = 32
a = x + 66
b = 3 * y - z
print(a)
print(b)

78
67

In [8]:
# assignment
x += 5 
x -= 3

In [9]:
# comparison
print(x > y)
print(x < y)
print(x == y)
print(x >= 15)
print(x <= 15)

False
True
False
False
True

In [10]:
# logical 
print(x > 10 and y < 50)  # T and T  = T
print(x > 10 and y < -5)  # T and F = F
print(x > 10 and y < 12)  # F and F = F

True
False
False

In [11]:
print(x > 10 or y < 50) # T or T = T
print(x > 10 or y < -5) # T or F = T
print(x < 10 or y < -5) # F or F = f

True
True
False

In [12]:
print(not x > 10) # not T = F
print(not x < 10) # not F = T

False
True

In [13]:
# identity - is
x = 10
y = 15
print(x is y)

False

In [14]:
a = 10
print(x is a)

True

In [ ]:
# membership - in
b = [1,2,3,4,5,6,7,8]
print(5 in b)
print(9 in b)

In [ ]:
colors = ['Red','Green','Blue']
print('red' in colors)
print('Red' in colors)