- print() -> output
- input() -> input

In [6]:
name = "Aman mishra"
city = "lucknow"

In [7]:
print("information about me")
print(name)
print(city)

information about me
Aman mishra
lucknow

In [8]:
print("information about me", name, city)

information about me Aman mishra lucknow

In [9]:
print('I am', name, 'and i live in', city)

I am Aman mishra and i live in lucknow

In [10]:
print(f"i am {name} and i live in {city}")

i am Aman mishra and i live in lucknow

<!-- fromated string  -->
these are special string in python, where we prepared f before the opening quote, making the string an f-string. we can then embed python expression directly inside the string. the expression are replaced with their value.

In [11]:
n1 = "amjad"
c1 = "lucknow"
n2, c2 = "amjad", "lko"
n3, c3 = 'bhupendra', 'lucknow'
n4, c4 = 'aman', 'lucknow'

In [12]:
print(f'{n1} {c1}')
print(f'{n2} {c2}')
print(f'{n3} {c3}')
print(f'{n4} {c4}')

amjad lucknow
amjad lko
bhupendra lucknow
aman lucknow

- for 15 length

In [13]:
print(f'{n1:15} {c1}')
print(f'{n2:15} {c2}')
print(f'{n3:15} {c3}')
print(f'{n4:15} {c4}')

amjad           lucknow
amjad           lko
bhupendra       lucknow
aman            lucknow

- for right alignment

In [14]:
print(f'{n1:>15} {c1}')
print(f'{n2:>15} {c2}')
print(f'{n3:>15} {c3}')
print(f'{n4:>15} {c4}')

          amjad lucknow
          amjad lko
      bhupendra lucknow
           aman lucknow

- for center alignment

In [15]:
print(f'{n1:^15} {c1}')
print(f'{n2:^15} {c2}')
print(f'{n3:^15} {c3}')
print(f'{n4:^15} {c4}')

     amjad      lucknow
     amjad      lko
   bhupendra    lucknow
     aman       lucknow

text alignment
- for left alignment <
- for right alignment >
- for center alignment ^

In [16]:
print(f'1. {n1:^15} {c1}')
print(f'2. {n2:^15} {c2}')
print(f'3. {n3:^15} {c3}')
print(f'4. {n4:^15} {c4}')

1.      amjad      lucknow
2.      amjad      lko
3.    bhupendra    lucknow
4.      aman       lucknow

In [17]:
print(n1, n2, n3, n4)

amjad amjad bhupendra aman

In [18]:
print(n1, n2, n3, n4, sep='\t')

amjad	amjad	bhupendra	aman

In [19]:
print(n1, n2, n3, n4, sep='\n')

amjad
amjad
bhupendra
aman

In [20]:
print(n1, n2, n3, n4, sep=', ')

amjad, amjad, bhupendra, aman