loops
- for loop
-  loop concepts
-  break
-  continue
-  else
-  enumerate
-  zip

In [ ]:
colors = ['red', 'green', 'yellow', 'blue', 'white', 'black'] 
for color in colors:
    print(color)

In [ ]:
for color in colors:
    size = len(color)
    print(f'{color:10} {size} chars')

In [ ]:
for color in colors:
    if 'e' in color:
        print(color)

In [ ]:
raw_data = ['Alex', 'Rahul', 'Sonu', 'monu', '', 'Ram', '', '']
for name in raw_data:
    print(name)

In [ ]:
for name in raw_data:
    if len(name)>0:
        print(name)

In [ ]:
for name in raw_data:
    if not name:
        continue
    print(name)

In [ ]:
numbers = [2,4,6,182,56,2,23,12,3,34,45,56]
for i in numbers:
    if i % 2 != 0:
        break
    print(i)

Aggregation logic

In [ ]:
total = 1
for i in numbers:
    # total *= i
    total = total * i
    # print(total)
print(total
      )

In [ ]:
msg = 'this is a simple message with few words'
# count the number of space using loop
for char in msg:
    print(char)

In [19]:
msg = 'this is a simple message with few words'
# count the number of space using loop
count = 0
for char in msg:
    if char == ' ':
        count += 1
print(f'{count} space found')

7 space found

In [20]:
msg.count(' ')

7

In [21]:
books = ['The final empire','The well of ascension', 'the hero of ages']
for book in books:
    print(book)

The final empire
The well of ascension
the hero of ages

In [22]:
idx = 0
for book in books:
    print(f'{idx} {book}')
    idx += 1

0 The final empire
1 The well of ascension
2 the hero of ages

In [26]:
for i in range (len(books)):
    print(f"{i} {books[i]}")

0 The final empire
1 The well of ascension
2 the hero of ages

In [25]:
for idx, book in enumerate(books):
    print(f"{idx} {book}")

0 The final empire
1 The well of ascension
2 the hero of ages

In [27]:
names = [
    'Alex', 'Alexa', 'Alexis', 'Alexander', 'Bruno',
    'Brutus', 'Charles', 'Charlie'
]

for i , name in enumerate(names):
    if i == 5: break
    print(name)

Alex
Alexa
Alexis
Alexander
Bruno